html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #fff;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  width: 99%;
  height: 98vh;
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
  height: 100%;
  padding: 2px;
  gap: 2px;
  background-color: #000;
  position: relative;
}
.container .office {
  background-color: #fff;
  grid-column: span 3;
  grid-row: span 10;
  display: grid;
  grid-template-rows: 0.4fr 2fr 2.4fr 2fr 0.8fr 0.8fr 0.8fr 0.4fr;
}
.container .office .office__header {
  padding: 8px 12px 16px;
  font-size: 14px;
}
.container .office .office__content-title {
  font-size: 28px;
  display: flex;
  padding: 16px 12px;
}
.container .office .office__content-title h1 {
  align-self: flex-end;
}
.container .office .office__content-item-container {
  background-color: #000;
  display: grid;
  grid-template-rows: repeat(6, 0.4fr);
  gap: 1px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.container .office .office__content-item-container .office__content-item {
  background-color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 8px 12px;
  gap: 1px;
}
.container .office .office__content-item-container :first-child {
  background-color: #eee;
}
.container .office .office__footer-contact,
.container .office .office__footer-address,
.container .office .office__footer-language {
  font-size: 13px;
  padding: 10px 12px;
  line-height: 1.4;
}
.container .office .office__footer-address :first-child {
  font-weight: 700;
}
.container .office .office__footer-language {
  background-color: #fff;
}
.container .home {
  background-color: #fff;
  grid-column: span 3;
  grid-row: span 8;
}
.container .home .home__header {
  padding: 8px 12px 16px;
  font-size: 14px;
}
.container .home .home__title {
  font-size: 32px;
  line-height: 1.2;
  display: flex;
  padding: 16px 12px;
}
.container .home .home__title h1 {
  align-self: flex-end;
}
.container .home .home__content {
  font-size: 13px;
  padding: 10px 12px;
  line-height: 1.4;
}
.container .home .home__content :first-child {
  padding-bottom: 12px;
}
.container .services {
  background-color: #fff;
  grid-column: span 3;
  grid-row: span 2;
}
.container .services .services__header {
  padding: 8px 12px 16px;
  font-size: 14px;
}
.container .services .services__title {
  font-size: 28px;
  line-height: 1.2;
  display: flex;
  padding: 16px 12px 0;
}
.container .services .services__title h1 {
  align-self: flex-end;
}
.container .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .image:nth-child(3) {
  background-image: url(https://picsum.photos/900/1600?random=1);
}
.container .image:nth-child(4) {
  background-image: url(https://picsum.photos/900/800?random=1);
}
.container .image:nth-child(5) {
  background-image: url(https://picsum.photos/600/400?random=1);
}
.container .image:nth-child(6) {
  background-image: url(https://picsum.photos/300/200?random=1);
}
.container .image:nth-child(7) {
  background-image: url(https://picsum.photos/300/200?random=2);
}
.container .image:nth-child(8) {
  background-image: url(https://picsum.photos/300/400?random=1);
}
.container .image:nth-child(9) {
  background-image: url(https://picsum.photos/600/400?random=2);
}
.container .image:nth-child(11) {
  background-image: url(https://picsum.photos/300/400?random=2);
}
.container .image:nth-child(12) {
  background-image: url(https://picsum.photos/300/200?random=3);
}
.container .image:nth-child(13) {
  background-image: url(https://picsum.photos/1200/400?random=1);
}
.container .image:nth-child(14) {
  background-image: url(https://picsum.photos/300/200?random=4);
}
.container .image_3_8 {
  grid-column: span 3;
  grid-row: span 8;
}
.container .image_3_4 {
  grid-column: span 3;
  grid-row: span 4;
}
.container .image_2_2 {
  grid-column: span 2;
  grid-row: span 2;
}
.container .image_1_1 {
  grid-column: span 1;
  grid-row: span 1;
}
.container .image_1_2 {
  grid-column: span 1;
  grid-row: span 2;
}
.container .image_4_2 {
  grid-column: span 4;
  grid-row: span 2;
}
.container .tag {
  position: absolute;
  color: #000;
  top: 0;
  right: -0.35%;
  font-size: 36px;
}
